@import url('https://fonts.googleapis.com/css2?family=Autour+One&family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&family=DynaPuff:wght@400..700&family=Rubik+Wet+Paint&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


#root {
  margin: 0 auto;
  text-align: center;
  height: 100vh;
  
  font-family: "DynaPuff", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  --color1: #BCE3B3;
  --color2:  #8FA88C;
  --color3: #5D7774;
  --color4: #242C37;
  --color5: #0B0D14;
}


li {
  cursor: pointer;
  background-color: var(--color5);
  padding: 0 5px;
  border-radius: 5px;
  font-size: 36px;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: var(--color1);
    max-height: 100vh;
  }
}